@charset "utf-8";

/* 유틸리티 */
.ir {
  display: block;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  line-height: 0;
  font-size: 1px;
  color: transparent;
}
.img-item {
  display: block;
}

/* 레이아웃 */
body {
  background-color: #eae8fe;
}

#app {
  display: flex;
  justify-content: center;
  padding-top: 248px;
  gap: 0 28px;
  font-family: "Noto Sans KR", sans-serif;
}

#app .vending-machine,
#app .myinfo {
  width: 360px;
  background: #fff;
  box-sizing: border-box;
}

#app .tit-app {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 360px;
  height: 180px;
  background: no-repeat center / 100% 100% url(../images/Logo_img.png);
}

#app .vending-machine {
  position: relative;
  padding: 31px 27px 28px;
}

.vending-machine .list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.vending-machine .list-item li {
  position: relative;
  width: 30%;
  height: 130px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5); /* 세번째 값은 블러 처리만 */
}

.vending-machine .list-item li.on:before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 3px solid #6327fe;
  border-radius: 10px;
  box-sizing: border-box;
}

.vending-machine .list-item li.sold-out::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 10px;
  background: no-repeat center/60px 46px url(../images/Sold-out.png)
    rgba(0, 0, 0, 0.8);
}
.vending-machine .list-item li.sold-out {
  pointer-events: none;
}

.vending-machine .list-item li:nth-child(3) ~ li {
  /* 세번째 자식요소의 다음 모든 형제 요소들 */
  margin-top: 12px;
}
.vending-machine .btn-item {
  display: block;
  width: 100%;
  height: 100%;
}
.vending-machine .list-item .img-item {
  width: 36px;
  height: 60px;
  margin: 0 auto;
}
.vending-machine .tit-item {
  display: block;
  font-size: 9px;
  margin: 7px 0;
}
.vending-machine .txt-price {
  font-size: 12px;
  padding: 2px 12px;
  background-color: #6327fe;
  border-radius: 50px;
  color: #fff;
}
