#main {
  position: static;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  height: 750px;
  margin-bottom: 100px;
  border: 1px solid black;
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 30px;
  border-bottom: 1px solid grey;
}
.weniv {
  font-size: 22px;
  font-weight: bold;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginForm_login {
  height: 40px;
  border-radius: 8px;
  margin-bottom: 6px;
  color: rgb(221, 219, 219);
}

.loginForm_password {
  height: 40px;
  border-radius: 8px;
}

.submit {
  background: rgb(96, 165, 255);
  color: white;
  border: none;
  border-radius: 8px;
  height: 40px;
  width: 100%;
}

.sign {
  display: flex;
  justify-content: center;
}

.sign_signin {
  font-size: 11px;
  margin-right: 15px;
  padding-top: 0;
  padding-bottom: 0;
  border-right: 1px solid rgb(165, 165, 165);
  padding-right: 10px;
}

.sign_find {
  font-size: 11px;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.line {
  position: relative;
  width: 100%;
  border-top: 1px solid grey;
  margin: 0;
  margin-bottom: 30px;
}

.or {
  position: absolute;
  top: -25px;
  left: 50%;
  z-index: 10;
}
#social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social {
  border: 1px solid black;
  text-align: center;
  padding: 12px 6px;
  width: 100%;
  border-radius: 8px;
}
